{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="{% static 'network/script.js' %}"></script>

    </head>
    <body>
        <div id="notification" style="display: none;" class="notification"></div>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-username="{{ user.username }}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" id="all-posts-link" href="#">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="following">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <a id="new-post-link" href="#" class="nav-link">Create Post</a>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('#all-posts-link').addEventListener('click', () => {
                    all_posts();
                });
            });
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelector('#new-post-link').addEventListener('click', () => {
                    new_post();
                });
            });
            document.addEventListener('DOMContentLoaded', () => {
                const followingLink = document.querySelector('#following');
                if (followingLink) {
                    followingLink.addEventListener('click', () => following_posts());
                }
            });
        </script>
    </body>
</html>